body {
  max-width: 669px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

nav {
  margin: 20px 0;
  float: right;
}

nav li {
  display: inline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0b1018;
  }

  a:link {
    color: #ff8604;
  }

  a:visited {
    color: #c77114;
  }
}

span.email b {
  display: none;
}
