body {
  max-width: 669px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
}

h1,h2 {
  line-height: 1.4;
  text-align: center;
}

nav {
  float: right;
}

nav p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-bottom: 8px;
}

aside, footer {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

footer img {
  width: 180px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0c1525;
  }

  a:link {
    color: #ff8604;
  }

  a:visited {
    color: #c77114;
  }
}

span.email b {
  display: none;
}
